/* 메인컨테이너 */
.RMcontainer {
    border-radius: 10px;
    min-width: 850px;

    display: flex;
    flex-direction: column;
}

/* 본문 위쪽 */
.RMtop{
    border: 1px solid #cceeff;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding:20px;
    gap:30px;
}

.RMbottom{
    border: 1px solid #cceeff;
    border-radius: 10px;
}