.customer-layout {
  /* min-width: 1350px; */
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #ffffff;
  padding: 32px;
  color: #000000;
}

.customer-header {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 24px;
  border-bottom: 2px solid #00aaff;
  padding-bottom: 8px;
}

.tab-menu-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}

.tab-menu {
  display: flex;
  gap: 24px;
  background-color: #f8f9fa;
  padding: 8px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.tab-menu a {
  text-decoration: none;
  font-weight: 600;
  color: #000000;
  padding: 6px 12px;
  position: relative;
  font-size: 18px;
}

.tab-menu a.active {
  color: #00aaff;
  font-weight: bold;
}

.tab-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #00aaff;
  transition: width 0.3s ease-in-out;
}

.tab-menu a:hover::after,
.tab-menu a.active::after {
  width: 100%;
}

.customer-content {
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #e0f7ff;
  border-radius: 12px;
  padding: 24px;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 170, 255, 0.08);
  text-align: left;
}

