.board-post-navigation {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.board-post-nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #fdfdfd;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.board-post-nav-item:hover {
    background-color: #f1f1f1;
    border-color: #00aaff;
}

.board-post-nav-label {
    font-weight: bold;
    min-width: 80px;
    color: #444;
}

.board-post-nav-title {
    color: #333;
    transition: color 0.3s;
}

.board-post-nav-item:hover {
    color: #007acc; /* 호버 시 제목 색상 변경 */
}

.board-detail-button-group {
    margin-top: 24px;
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.board-detail-button {
    background-color: white;
    color: black;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.board-detail-button:hover {
    background-color: #e0f7ff;
    /* color: #00aaff; */
    border-color: #00aaff;
}

.board-detail-table-container {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.board-detail-table-container td:nth-child(2){
    border-right: 1px solid #ccc;
}

.board-detail-table-container td:nth-child(4){
    border-right: 1px solid #ccc;
}

.board-detail-table-container td:nth-child(6){
    border-right: 1px solid #ccc;
}

.board-detail-submit-button {
    /* background: #fff; */
    background: #000;
    /* border: 1px solid #b19cd9; */
    border: none;
    /* color: #b19cd9; */
    color: #fff;
    font-weight: 700;
    border-radius: 7px;
    padding: 7px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
}