.DBtext{
  color: white;
  font-size: 26px;
  padding : 10px;
}

/* 메인컨테이너 */
.DBcontainer {
    border-radius: 10px;

    min-width: 850px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}


/* 본문 위쪽 */
.DBtop{
    border: 1px solid #cceeff;
    border-radius: 10px;

    flex:1;
    flex-direction: column;
}

/* 위쪽 지역 선택 콤보 박스 */
.DBcombobox{
    flex: 0 0 20%;
    border: 1px solid #cceeff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    background-color:#00aaff;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
}

.DBcombobox select{
    text-align: center;
    font-size: 24px;
    margin:5px;
    width: 300px;
    text-align: left;
    padding:5px 10px;
    border-radius: 8px;
}

/* 본문 아래쪽 */
.DBbottom{
    border: 1px solid #cceeff;
    border-radius: 10px;

    display: flex;
    flex : 0 0 50%;
    flex-direction: column;
    margin-top: 20px;
}


/* 페이징 드롭다운 */
.DBdropdown{
    display: flex;
    justify-content: end;
    padding : 20px;
}
.DBbottom select{
    text-align: center;
    font-size: 25px;
}


/* 상세정보 담는 박스 */
.DBdetail-box{
    display: flex;
    flex-wrap: wrap;
    margin:10px;
    gap:20px;
}