/* 메인컨테이너 */
.DScontainer {
    border-radius: 10px;
    min-width: 850px;
}


/* 본문 위쪽 */
.DStop{
    border: 1px solid #cceeff;
    border-radius: 10px;
    margin-top: 20px;
    
    display: flex;
    justify-content: center;
}

/* 동물 이미지 */
.DStop img{
    padding:20px;
    height:400px;
    width: auto;
    object-fit: contain;
}


/* 본문 아래쪽 */
.DSbottom{
    border: 1px solid #cceeff;
    border-radius: 10px;

    display: flex;
    flex : 0 0 52%;
    flex-direction: column;
    margin-top: 20px;
}

.DSbottom h2{
    color: #66ccff;
    text-align: center;
    margin-top: 10px;
}


/* 정보 전부 들어있는 박스 */
.DSinfo-box{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
    margin : 10px;
    gap:10px;
}


/* 정보 한칸 */
.DSinfo{
    border: 1px #cceeff solid;
    border-radius: 8px;

    flex : 0 0 24%;
    text-align: center;
    padding : 10px;
}

/* 정보의 글자 */
.DSinfo p{
    font-size: 20px;
}

.DSinfo-text{
    font-size: 20px;
    width: auto;
    height: 40px;
}



/* 입양하기 버튼 */
.DSbutton{
    margin-top: 20px;
    height: 40px;
    display: flex;
    justify-content: space-around;
}