.app-bg {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}

.container {
    flex: 1;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {

    .app-bg {
        transform: scale(0.325);
        /* 화면이 축소됩니다. 수치를 조정하여 원하는 사이즈로 조절 */
        transform-origin: top left;
        width: 300%;
        /* scale의 역수 (1 / 0.75 = 1.33) 만큼 width를 확장해줘야 전체 화면에 맞게 보입니다 */
        padding: 0;
        overflow-x: hidden;
        /* 스크롤 없애기 */
    }

    body,
    html {
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;
    }

    .container,
    .map-container {
        width: 100% !important;
        /* 지도와 컨테이너 전체 너비로 */
        max-width: none !important;
        padding: 0 !important;
        margin: 0 auto;
    }

    img,
    svg {
        max-width: 100%;
        /* 이미지, 지도(svg)도 화면 꽉차게 */
        height: auto;
    }
}

.main-footer {
    width: 100%;
    box-sizing: border-box;
}