.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fffdf9;
    color: #333;
    font-size: 1.1rem;
}